@model IEnumerable<Coopership.ITDeveloper.Domain.Models.EstadoPaciente>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="panel panel-info panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Estado dos Pacientes</h3>
    </div>

    <div class="panel panel-body">
        <p>
            <a asp-controller="Paciente" asp-action="Create" class="btn btn-info"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adicionar Paciente</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>